# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  push:
    branches:
      - main
      - master
      - release
      - f-from-binary
  pull_request:
    branches:
      - main
      - master
      - release
  schedule:
    - cron: "10 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.sha }}-${{ github.base_ref || '' }}
  cancel-in-progress: true

name: rcc

jobs:
  rcc-smoke:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.commit.outputs.sha }}

    name: "Smoke test: stock R"

    # Begin custom: services
    # End custom: services

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/workflows/rate-limit
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/workflows/git-identity

      - uses: ./.github/workflows/custom/before-install
        if: hashFiles('.github/workflows/custom/before-install/action.yml') != ''

      - uses: ./.github/workflows/install
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          install-r: false
          cache-version: rcc-smoke-1
          needs: check
          extra-packages: any::rcmdcheck any::roxygen2 r-lib/styler

      - uses: ./.github/workflows/custom/after-install
        if: hashFiles('.github/workflows/custom/after-install/action.yml') != ''

      - uses: ./.github/workflows/update-snapshots
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

      - uses: ./.github/workflows/style
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

      - uses: ./.github/workflows/roxygenize
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

      - id: commit
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        uses: ./.github/workflows/commit

      - uses: ./.github/workflows/check
        with:
          results: ${{ runner.os }}-smoke-test
